* {
  margin: 0%;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}
.container {
  display: flex;
  align-content: center;
  justify-content: center;
  max-width: 1000px;
  width: 100%;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  margin: 0%;
  flex: 1;
  color: white;
}

.left {
  border-radius: 10px 0px 0px 10px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background-color: hsl(31, 77%, 52%);
  padding: 25px 40px;
  min-height: 70svh;
  max-width: 40svh;
}
.center {
  display: flex;
  flex-direction: column;
  align-content: sp;
  justify-content: center;
  background-color: hsl(184, 100%, 22%);
  padding: 25px 40px;
  min-height: 70svh;
  max-width: 40svh;
}
.right {
  border-radius: 0px 10px 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  padding: 25px 40px;
  background-color: hsl(179, 100%, 13%);
  min-height: 70svh;
  max-width: 40svh;
}
.button {
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  background-color: white;
  font-weight: bold;
  cursor: pointer;
  margin-top: auto;
}
.left .button {
  color: hsl(31, 77%, 52%);
  transition: 0.15s;
}

.center .button {
  color: hsl(184, 100%, 22%);
  transition: 0.15s;
}
.right .button {
  color: hsl(179, 100%, 13%);
  transition: 0.15s;
}

.left .button:hover {
  background-color: rgb(255, 251, 0);
}

.center .button:hover {
  background-color: cyan;
}

.right .button:hover {
  background-color: darkcyan;
}

h2 {
  font-family: "Big Shoulders Display", system-ui;
  font-size: 24px;
  text-align: left;
  margin-bottom: 15px;
}

p {
  font-family: "Lexend Deca", system-ui;
  font-size: 16px;
  text-align: left;
  margin-bottom: 20px;
}

img {
  height: 7svh;
  width: 12svh;
  padding: 0px;
}
