* {
  margin: 0%;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  height: 650px;
  align-items: center;
}

.container {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  height: 200px;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  padding: 25px;
  color: white;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  padding: 25px 40px;
  min-height: 420px;
}

img {
  height: 45px;
  width: 70px;
}

h2 {
  text-align: left;
  font-family: "Big Shoulders Display", system-ui;
  font-size: 24px;
  font-weight: 700;
  text-align: left;
}

p {
  min-height: 135px;
  font-family: "Lexend Deca", system-ui;
  font-size: 13px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
  margin-bottom: 20px;
}

#left-article {
  background-color: hsl(31, 77%, 52%);
  border-radius: 10px 0px 0px 10px;
}

#center-article {
  background-color: hsl(184, 100%, 22%);
}

#right-article {
  background-color: hsl(179, 100%, 13%);
  border-radius: 0px 10px 10px 0px;
}

.button {
  align-self: center;
  padding: 10px;
  width: 120px;
  border: 2px solid white;
  border-radius: 30px;
  background-color: white;
  font-weight: bold;
  cursor: pointer;
}

#left-article .button {
  color: hsl(31, 77%, 52%);
  transition: 0.15s;
}

#center-article .button {
  color: hsl(184, 100%, 22%);
  transition: 0.15s;
}
#right-article .button {
  color: hsl(179, 100%, 13%);
  transition: 0.15s;
}

#left-article .button:hover,
.button:focus {
  background-color: hsl(31, 77%, 52%);
  color: white;
}

#center-article .button:hover,
.button:focus {
  background-color: hsl(184, 100%, 22%);
  color: white;
}

#right-article .button:hover,
.button:focus {
  background-color: hsl(179, 100%, 13%);
  color: white;
}
